.custom-button{
  height: 40px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background: #1a2856;
  cursor: pointer;
  gap: 8px;
  display: flex;
  align-items: center;
}

.custom-button:hover{
  opacity: 90%;
}

.custom-button i {
  font-size: 20px;
}
