.navbar {
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e8f0;
  padding-right: 28px;
  padding-left: 12px;
}

.navbar-logo img {
  height: auto;
  width: auto;
}

.active {
  color: #3b5ac2;
}

nav-link.active{
  color: #3b5ac2;
  font-weight: 600;
}

.nav-link{
  padding: 6px !important;
}

.nav-item{
  cursor: pointer;
  margin-left: 18px !important;
}

.nav-item i{
  font-size: 20px;
}
