.custom-button{
  height: 48px;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background: linear-gradient(90deg, #1a2856 0%, #334ea9 100%);
  cursor: pointer;
}

.custom-button:hover{
  opacity: 90%;
}
